### Update Google OIDC redirect URIs

If you plan to use Google ID for External Share  
Based on https://www.ibm.com/docs/en/cloud-paks/cp-biz-automation/22.0.1?topic=manager-configuring-redirect-url-identity-provider and  
on https://developers.google.com/identity/protocols/oauth2/openid-connect#setredirecturi  
Watch video and follow with your own google account and Client ID you used in the pre-deploy section  
[Video fncm-es-google-oidc-post.mp4 download](https://github.com/apollo-business-automation/ibm-cp4ba-enterprise-deployment/blob/main/assets/fncm-es-google-oidc-post.mp4?raw=true) 
#TODO errata for redirect uris when this starts to work

### External Share

Based on https://www.ibm.com/docs/en/cloud-paks/cp-biz-automation/22.0.1?topic=manager-configuring-external-share-after-deployment

If you plan to use External Share  

Configure SMTP  
Based on https://www.ibm.com/docs/en/filenet-p8-platform/5.5.x?topic=users-configuring-content-platform-engine-external-sharing point 3

Go to Acce console https://cpd-{{ cp4ba_project_name }}.{{ apps_endpoint_domain }}/cpe/acce/    
Login with Enterprise LDAP with cpadmin / {{ cp4ba_universal_password }}  
On P8DOMAIN domain navigate to *SMTP Subsystem*  
Check *Enable email services*  
SMTP host: {{ cp4ba_mail_hostname }}  
SMTP port: 25  
Email from ID: system@cp.local 
Default email reply-to ID: system@cp.local 
Email login ID: mailuser  
Email login password: {{ cp4ba_universal_password }}  
Click Save  


Configure external LDAP in FNCM CPE  
If you plan to use external LDAP for External Share  
Based on https://www.ibm.com/docs/en/filenet-p8-platform/5.5.x?topic=users-configuring-content-platform-engine-external-sharing point 2

Go to Acce console https://cpd-{{ cp4ba_project_name }}.{{ apps_endpoint_domain }}/cpe/acce/  
On P8DOMAIN domain navigate to *Directory Configuration*  
Click on ExternalRealm  
find *Exclude From Authenticated Users* property and set it to True  
click Save  
click Close  


Document class access  
If you plan to use external LDAP for External Share  
Based on https://www.ibm.com/docs/en/filenet-p8-platform/5.5.x?topic=users-configuring-content-platform-engine-external-sharing point 4  

Go to Acce console https://cpd-{{ cp4ba_project_name }}.{{ apps_endpoint_domain }}/cpe/acce/  
Navigate to OS1 object store > Data Design > Classes > Document > Security tab  
Click Add Permissions > Add User/Group Permission  
Search in realm: ExternalRealm (o=cpext)    
Search by: #  
Click Search  
Add *#REALM-USERS* to *Selected Users and Groups*  
Permission group: View all properties, Create instance  
Click OK  
Click Save  

Folder class access  
If you plan to use external LDAP for External Share  
Based on https://www.ibm.com/docs/en/filenet-p8-platform/5.5.x?topic=users-configuring-content-platform-engine-external-sharing point 5

Go to Acce console https://cpd-{{ cp4ba_project_name }}.{{ apps_endpoint_domain }}/cpe/acce/    
Navigate to OS1 object store > Data Design > Classes > Folder > Security tab  
Click Add Permissions > Add User/Group Permission  
Search in realm: ExternalRealm (o=cpext)  
Search by: #  
Click Search  
add *#REALM-USERS* to *Selected Users and Groups*  
Permission group: View all properties, Create instance  
Click OK  
Click Save  

### External Share capability in BAN

Based on https://www.ibm.com/docs/en/cloud-paks/cp-biz-automation/22.0.1?topic=cesad-configuring-share-plug-in-in-business-automation-navigator  
Based on https://www.ibm.com/docs/en/content-navigator/3.0.11?topic=components-configuring-external-share  

If you plan to use External Share  

To successfully configure External share you will need to use Ingress access to BAN.
Go to navigator https://ingress-es-{{ cp4ba_project_name }}.{{ apps_endpoint_domain }}/navigator/?desktop=admin  
If a pop-up occurs, click Cancel  
Go to Plug-ins  
Click New Plug-in  

New Plug-in screen  
JAR file path: https://ingress-es-{{ cp4ba_project_name }}.{{ apps_endpoint_domain }}/contentapi/plugins/sharePlugin.jar  
Click Load  
Click Save  
REST API URL: https://ingress-es-{{ cp4ba_project_name }}.{{ apps_endpoint_domain }}/contentapi/rest/share/v1  
Click Verify  
Repositories: select OS1  
Click Configure Share  
 
Configure Share for OS1 screen  
External URL: https://ingress-es-{{ cp4ba_project_name }}.{{ apps_endpoint_domain }}/navigator  
External desktop: New desktop  
  Desktop name: External Share OS1  
  Desktop ID: ExternalShareOS1  
Consent agreement: Welcome to CP4A  
Click OK  
This may take some time, and the request can time out. Click OK after a minute again and it should complete successfully. In the mean time External share container is configuring object store behind the scenes.  
Click Save and Close  

Based on https://www.ibm.com/docs/en/content-navigator/3.0.11?topic=share-configuring-menu-action  

Navigate to Menus  
Filter for *Default document context menu*  
Select the first occurrence  
Click Copy  

New Menu screen  
Name: Share Document Context Menu  
Move Share from *Available* to *Selected:*  
Move it up under *Preview*  
Click Save and Close  

Filter for *Default folder context menu*  
Select the first occurrence  
Click Copy  

New Menu screen  
Name: Share Folder Context Menu  
Move Share from *Available* to *Selected:*  
Move it up under *Delete*  
Click Save and Close  

Navigate to Desktops  
Click on OS1  
Click Edit  
Click Menus tab  
Under Context Menus > Content Context Menus  
Document context menu: Share Document Context Menu  
Folder context menu: Share Folder Context Menu  
Click save and Close  

If you want to share content, use https://ingress-es-{{ cp4ba_project_name }}.{{ apps_endpoint_domain }}/navigator/?desktop=OS1
