## FileNet Content Manager (FNCM) (content pattern)

Based on https://www.ibm.com/docs/en/cloud-paks/cp-biz-automation/22.0.1?topic=tasks-filenet-content-manager

{% if 'es' in sc_optional_components -%}
{% include 'component_es.md.j2' ignore missing %}
{% endif %}
