# CP4BA post-deploy

Based on https://www.ibm.com/docs/en/cloud-paks/cp-biz-automation/22.0.1?topic=deployments-completing-post-installation-tasks

The following list specifies when you need to perform particular post-deployment steps
  - [Business Automation Studio (BAS) (foundation pattern)](#business-automation-studio-bas-foundation-pattern)
    - [Deploy toolkits and configurators](#deploy-toolkits-and-configurators) - When you want to call ODM from Business Application using Automation Services.
  - [Business Automation Insights (BAI) (foundation pattern)](#business-automation-insights-bai-foundation-pattern)
    - [Configure Workforce insights](#configure-workforce-insights) - When you want to use Workforce Insights.
  - [Operational Decision Manager (ODM) (decisions pattern)](#operational-decision-manager-odm-decisions-pattern)
    - [BAI event emitter](#bai-event-emitter) - When you want to enable BAI event emitting for your Rule Application.
    - [Rule designer in eclipse](#rule-designer-in-eclipse) - When you want to install Rule Designer in Eclipse to develop Rule Applications.
    - [Rule designer Zen connection](#rule-designer-zen-connection) - When you want to deploy Rule Applications from your local Rule Designer to ODM.
  - [Automation Decision Services (ADS) (decisions_ads pattern)](#automation-decision-services-ads-decisions_ads-pattern)
    - [ADS project git repo & connection](#ads-project-git-repo--connection) - When you want to connect your ADS solution to GIT repository.
    - [Develop custom libraries](#develop-custom-libraries) - When you want to create your custom ADS libraries.
  - [FileNet Content Manager (FNCM) (content pattern)](#filenet-content-manager-fncm-content-pattern)
    - [Update Google OIDC redirect URIs](#update-google-oidc-redirect-uris) - (don't use now) When you configured Google ID for External Share.
    - [External Share](#external-share) - (don't use now) When you want to use External Share.
    - [External Share capability in BAN](#external-share-capability-in-ban) - (don't use now) When you want to use External Share.
    - [IER configuration](#ier-configuration) - When you want configure IBM Enterprise Records.
  - [Automation Document Processing (ADP) (document_processing pattern)](#automation-document-processing-adp-document_processing-pattern)
    - [Connect ADP project to Git](#connect-adp-project-to-git) - When you need to finish ADP configuration. Without Git connection, you cannot publish your solution.

For some of the tasks you need to interact with OpenShift using oc CLI. Use the following templates to log in and switch project.
```bash
# Either Username + Password
oc login --server=<OCP_API_ENDPOINT> -u <OCP_CLUSTER_ADMIN> -p <OCP_CLUSTER_ADMIN_PASSWORD>
# Or Token
oc login --server=<OCP_API_ENDPOINT> --token=<OCP_CLUSTER_TOKEN>


oc project {{ cp4ba_project_name }}

```
For logging in to CP4BA pillars use *Authentication type: Enterprise LDAP* and user *cpadmin* with password "{{ cp4ba_universal_password }}" if not stated otherwise.

{% if 'foundation' in sc_deployment_patterns -%}
{% include 'pattern_foundation.md.j2' ignore missing %}
{% endif %}
{% if 'decisions' in sc_deployment_patterns -%}
{% include 'pattern_decisions.md.j2' ignore missing %}
{% endif %}
{% if 'decision_ads' in sc_deployment_patterns -%}
{% include 'pattern_decision_ads.md.j2' ignore missing %}
{% endif %}
{% if 'content' in sc_deployment_patterns -%}
{% include 'pattern_content.md.j2' ignore missing %}
{% endif %}
{% if 'ier' in sc_optional_components -%}
{% include 'component_ier.md.j2' ignore missing %}
{% endif %}
{% if 'document_processing' in sc_deployment_patterns -%}
{% include 'pattern_document_processing.md.j2' ignore missing %}
{% endif %}
